.hero_container {
  padding-top: 12%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(235, 182, 255, 1) 0%,
    rgba(227, 121, 255, 1) 100%
  ); */
  background-image: url(../images/background_header.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.second_hero_container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.second_hero_container img {
  width: 30vw;
  margin: auto;
}
.title_hero span {
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.aboutme_hero {
  text-align: center;
  color: white;
}

.imghero img {
  margin-top: 5%;
  width: 30%;
  cursor: pointer;
}
.imghero a {
  display: flex;
  justify-content: center;
}

.button_nightshift {
  background-color: rgb(109 109 109 / 36%);
  border-radius: 20px;
  width: 50px;
  padding-top: 3px;
  border-style: none;
  cursor: pointer;
}
body.moon .button_nightshift {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}
body.moon .button_nightshift:hover {
  background-color: rgb(150, 150, 150) !important  ;
}

.git_link {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.git_link img {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.curriculum {
  color: black;
}
/* Whatsapp BTN */
.wpp_btn {
  position: fixed;
  z-index: 20;
  bottom: 30px;
  right: 30px;
}
.wpp_btn img {
  width: 50px;
  opacity: 90%;
}
.wpp_btn img:hover {
  width: 52px;
  opacity: 100%;
}

/* ---ANIMATION H1--- */

.title_animated {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.typed-cursor.typed-cursor--blink {
  font-size: 30px;
}
.typed-cursor {
  font-size: 30px;
}

@media (max-width: 566px) {
  .title_animated {
    font-size: 25px;
  }
  .typed-cursor.typed-cursor--blink {
    font-size: 20px;
  }
  .wpp_btn {
    right: 10px;
  }
}

@media (max-width: 408px) {
  .title_animated {
    font-size: 17px;
  }
  .typed-cursor.typed-cursor--blink {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  .git_link {
    width: auto;
  }
}
@media (max-width: 275px) {
  .title_animated {
    font-size: 13px;
  }
  .typed-cursor.typed-cursor--blink {
    font-size: 19px;
  }
  p {
    font-size: 13px;
  }
}
/* ------------------------MEDIA NUEVA----------------------------------------- */
@media (max-width: 850px) {
  .second_hero_container {
    display: none;
  }
  .hero_container {
    justify-content: center;
    padding-top: 25%;
  }
}
